{% for idea in ideas %}

<div class="idea">
    <img src="{{idea.imagem}}" alt="Imagem {{idea.nome}}">

    <div class="content">
        <h3>{{idea.titulo}}</h3>
        <p>{{idea.categoria}}</p>
        <div class="description">
            {{idea.descricao}}
        </div>
        <div id="delete">
            <a href="{{idea.link}}" target="_blank">Ir para a Ideia</a>
            <a href="/delete?id={{idea.id}}" id="delete">Deletar</a>
        </div>
    </div>
</div>            

{% endfor %}